<!DOCTYPE html>
<html lang="en" style="background-color: black;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Code Generator</title>
    <link rel="stylesheet" href ="./style.css" />
</head>
<body>
    <div class="outer">
     <div class="top">
      <h5 style="font-family: Arial, Helvetica, sans-serif;">QR Generator</h4>
     </div>
     <div class="again">
      <h3>Scan this from your scanner</h1>
     </div>
    </div>
</body>
</html>