<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Code Generator</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <div class="outer">
        <div class="top">
            <h4>QR Generator</h4>
            <form action="/generate" method="POST" class="generateform">
                <input type="text" name="url" placeholder="Enter URL" required>
                <button type="submit">Generate</button>
            </form>
        </div>
        <% if (qrCodeUrl) { %>
            <div class="again">
                <h2>Scan this from your scanner</h2>
                <h5>You can scan and Download it easily</h5>
                <img src="<%= qrCodeUrl %>" alt="QR Code">
                <a href="<%= qrCodeUrl %>" download="qrcode.png">Download</a>
                <form action="/send" method="post" class="emailform">
                        <label for="">Email:</label>
                        <input type="email" name="email" placeholder="xyz@gmail.com">
                        <input type="hidden" name="qrCodeUrl" value="<%= qrCodeUrl %>">
                        <button type="submit">Send</button>
                </form>
            <% } %>
            </div>
        
    </div>
</body>
</html>
